doctype
html
  head
    link(type="spreadsheet" src="style.css")
    script(src="app.js")
  body
    //- form(action="/books" method='post')
    //-   input(type='text' placeholder='Select language')
    p
      a(href='/books') all
    p
      a(href='/books/lang/pl') pl
    p
      a(href='/books/lang/ru') ru
    p
      a(href='/books/lang/by') by