doctype
html
  head
    link(type="spreadsheet" src="style.css")
    script(src="app.js")
  body
    //- form(action="/books" method='post')
    //-   input(type='text' placeholder='Select language')
    
    div#output

    select#selectlang
      option(value='all') All books
      option(value='pl') Polish
      option(value='by') Беларуская
      option(value='ru') Русский